<html>
    <head>
        <title>
            Add to cart
        </title>
    </head>
    <body>
        <table>
            <th>Regular Pizza</th>
            <tr>
                <td> </td>
                <td>Small </td>
                <td>Large</td>
                <td> </td>
            </tr>
            <tr>
                <td>Cheese</td>
                <td>13.25</td>
                <td>18.75</td>
                <td> <a href="#">Add to cart</a> </td>
            </tr>
            <tr>
                <td>1 topping</td>
                <td>14.25</td>
                <td>20.75</td>
                <td> <a href="#">Add to cart</a> </td>
            </tr>
            <tr>
                <td>2 toppings</td>
                <td>15.75</td>
                <td>22.75</td>
                <td> <a href="#">Add to cart</a> </td>
            </tr>
            <tr>
                <td>3 toppings</td>
                <td>16.75</td>
                <td>24.75</td>
                <td> <a href="#">Add to cart</a> </td>
                
            </tr>
            <tr>
                <td>Special pizza</td>
                <td>18.3</td>
                <td>26.75</td>
                <td> <a href="#">Add to cart</a> </td>
            </tr>
        </table>
    </body>
</html>